li .router-link-exact-active i, li .router-link-exact-active{
	background: #eee;
	color: #046877;
}

.conteudo{
	float: right;
	z-index: -1;
	width: 95%;
	max-width: 95%;
	margin-top: 7vh; 
	height: 93vh;
	background: #eee;
}
