li .router-link-exact-active i, li .router-link-exact-active{
	background: #046877;
	color: white;
}

.conteudo{
	float: right;
	z-index: -1;
	width: 96%;
	max-width: 96%;
	margin-top: 7vh; 
	height: 93vh;
	padding: 10px 0;
	background: #eee;
}
